<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tweet Bot or Not Classifier</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
</head>

<style>
    body{
         background-color:#b6d8c0;
    }
</style>
<body>

     <nav class="navbar bg-#b6d8c0">
         <a href="#" class="navbar-brand text-dark">TWEET BOT OR NOT BOT CLASSIFIER</a>

     </nav>

     <div class="container">
         <div class="mt-5">
            <div class="row">
                <div class="col-md-6 offset-3">

                    <div class="card-body">
                       {% if result%}
                         <h3>  {{result}}</h3>
                       {% endif %}
                       <h4>Enter the Tweet</h4>

                        <form action="/predict" method="post">
                            <label>CONTENT</label><br>
                            <input type="text" name="content" class="form-control"><br>
                            <input type="submit" class="btn btn-info btn-block" value="Predict">

                        </form>
                   </div>

                </div>
            </div>
         </div>
     </div>


</body>
</html>
